<h1>{{vm.hotel.name}} <hotel-rating stars="vm.stars"></hotel-rating></h1>
<p>{{vm.hotel.location.address}}</p>
<p>{{vm.hotel.description}}</p>
<div>
    <p>This has services like:</p>{{hotel.services}}
    <ul>
        <li ng-repeat="service in vm.hotel.services">{{service}}</li>
    </ul>
</div>
<div>
    <h4>Reviews:</h4>
    <ul>
        <li ng-repeat="review in vm.hotel.reviews"><strong>{{review.name}}:</strong> {{review.review}}</li>
    </ul>
</div>

<form name="vm.reviewForm" ng-if="vm.isLoggedIn()" ng-submit="vm.addReview()">

    Your Rating: <input type="number" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating" />
    <div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
        <p>Rating must be between 1-5.</p>
    </div>

    Your Review: <textarea name="review" required ng-model="vm.review"></textarea>
    <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
        <p>Please Add a Review</p>
    </div>

    <button type="submit" class="btn">Add Review</button>
</form>